<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>BIODATA DIRI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>BIODATA DIRI</div>
        <hr/>
        <p th:text="${kirimnama}"></p>
        <p th:text="${kirimtgl}"></p>
        <br>
        <img th:src="${kirimph}" width="500" height="400">
    </body>
</html>
